* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
 background: rgb(115, 187, 115);
height: auto;
max-width: auto;
min-width: 100px;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
    margin: 0 auto;
    padding: 0px;

 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* thank you Erik J - negate effect of float*/
  

/* buttons */
button {
 cursor: pointer;
 border-radius: 20px;
 background-color: rgb(115, 187, 115);
 color: #ffffff;
 font-size: larger;

}
#key {
    
    height: 300px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 5px 10px #888888;
    padding-left: 40px;
    margin: 0 auto;
   
}

#keyf {
    height: 130px;
    width: 20px;
 background-color: #000000;
    color: #ffffff; 
    box-shadow: 5px 10px #888888;
    padding-left: 40px;
    margin: 0 auto;
    margin-left: 60px;
    
    position: relative;
    /* margin-right: -30px; */
    z-index: 2;
}
.key {
   font-size: 20px;
   margin: 0 auto;
    height: 50px; 
    background-color: #ffffff; 
    color: #000000;
    width: 350px;
    float: center;
    /* border-radius: 4px; */
    display: none;
    padding: 60px ;
    position: absolute;
    top: 350px;
    left: 450px;
    /* display: block; */
  
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  padding: 14px;
  text-decoration: none;
}  
/* .key.active {
    font-size: 20px;
   margin: 0 auto;
    height: 150px; 
    background-color: #ffffff; 
    color: #000000;
    width: 350px;
    border-radius: 14px;
    position: relative;
    padding: 60px ;
    display: block;
    left: 460px; 
    bottom: 220px;               
  text-align: center;
  
 float: left;
  text-decoration: none;
}                                                                                                                                                                                                                                                               */


.keyf {
    font-size: 20px;
    margin: 0 auto;
     height: 50px; 
     background-color: #ffffff; 
     color: #000000;
     width: 350px;
     float: center;
     /* border-radius: 4px; */
     display: none;
     padding: 60px ;
     position: absolute;
     bottom: 250px;
     left: 400px;
 }  
  .key.active {
    font-size: 20px;
    margin: 0 auto;
     height: 150px; 
     background-color: #ffffff; 
     color: #000000;
     width: 350px;
     border-radius: 14px;
     position: relative;
     padding: 60px ;
     display: block;
     left: 460px; 
     bottom: 220px;               
   text-align: center;
   
  float: left;
   text-decoration: none;
 } 

.kf {
    position: relative;
    left: -20px;
}
 .ka  {
    position: relative;
    left: -70px;
}
.kb  {
    position: relative;
    left: -120px;
}
.kd  {
    position: relative;
    left: -100px;
}
.ke  {
    position: relative;
    left: -140px;
}

.kf2 {
    position: relative;
    left: -140px;
}
 .ka2  {
    position: relative;
    left: -190px;
}
.kb2  {
    position: relative;
    left: -235px;
}

#next {
   background-color: rgb(115, 187, 115);
    position: relative;
    margin: 0 auto;
    left: 140px;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    float: center  ;
} 
#next a{
    color: #ffffff;
    font-size: larger;
    position: relative;
    margin: 0 auto;
    text-decoration: none;
    
} 
#cont-submit {
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    background-color: rgb(115, 187, 115);
   }
/* Major sections */
#nav {
    /* display: flex;
  justify-content: space-between;
  align-items: center; */
    /* width: auto; */
    height: 120px;
    background-color: rgb(52, 71, 59);
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
    overflow: hidden;
   }
#header {
    width: 100%;
    height: 700px;
    /* background-color: #000000; */
   position: relative; 
    display: flex;
    
    
    
}

#header2 {
    width: 100%;
    height: 400px;
    /* background-color: #000000; */
   position: relative; 
    display: flex;
    
    
}

#welcome {
    margin: 0 auto;
     height: 1000px; 
    position: relative;
    width: 100%;
   
    /* padding-bottom: 10px; */
    display: inline-block;
}
#welcome2 {
    margin: 0 auto;
     height: 800px; 
    position: relative;
    width: 100%;
    background-color: #FFC667;;
   z-index: 999;
    /* padding-bottom: 10px; */
    display: inline-block;
    float: center;
}
#contact {
    width: 40%; 
    height: 670px;
    background-color: #FFC667;
     position: relative; 
    bottom: 400px;
    overflow: hidden;
    float:right;
   
    

}
#footer {
    display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin:0 auto ;
  width: 100% ;
clear: both;
height: 400px;
left: 0;
    background-color: rgb(99, 100, 99);
    position: relative;
    /* bottom: -79.5rem; */
     z-index: 999; 
     top: 320px;                                             
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .footer {
    display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin:0 auto ;
  width: 100% ;
clear: both;
height: 200px;
left: 0;
    background-color: rgb(99, 100, 99);
    position: absolute;
    padding-bottom: .5rem;
    
    
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   #footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin:0 auto ;
    width: 100% ;
  clear: both;
  height: 500px;
  left: 0;
      background-color: rgb(99, 100, 99);
      position: relative;
      top: 300px;
      /* z-index: 999;  */
    
      color: #ffffff;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
   /* nav seciton */
   .nav {
    min-height: 100%;
    
   }

   .footer2 {
    display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin:0 auto ;
  width: 100% ;
clear: both;
height: 200px;
left: 0;
    background-color: rgb(99, 100, 99);
    position: relative;
    
    z-index: 999;
    
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

   .nav a {
    font-size: 20px;
   font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    padding-left: 40px;
    left:50px;
    float: left;
   
    /* display:flexbox;margin-right: 5px; 
    justify-content: center; */
   }

   .github {
    width: 160px;
    height: 80px;
    background-color: #CACACA;
    position:  relative;
   }
   .github a {
    text-decoration: none;
    color: #ffffff;
   }
   .nav a:hover {
    color: rgb(115, 187, 115);
  }
  #navlogo {
    width: 102px;
    height: 80px;
   }
   .logoname {
padding-left: 30px;
   }

   .links{
    position: absolute;
    float: right;
    width: 70%;
    justify-content: right;
    left: 60%; 
    top:30px; 
     margin: 0 auto;  
    /* overflow:visible; */
     /* background-color: aqua;  */
    display: inline-block; 
    text-align: right;
   }

 
  
   #heroimg {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   #heroimg1 {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   #navlogo2 {
    width: 202px;
    height: 180px;
   }
/* hero text */
   .bund {
    width: 700px;
    height: 400px;
    position: relative;
    padding: 150px;
    margin: 0 auto;
    padding-left: 80px;
    bottom: 700px;
    /* background-color: aliceblue; */
   }
   .herotext {
    width: 750px;
    padding: 20px;
    color: #ffffff;
    flex-wrap: nowrap;
    text-align:left;
    /* margin: 0 auto;
    background-blend-mode:lighten; */
    background-color: rgba(1, 0, 0, 0.572); 
    border-radius: 20px;
   }
   .herotext1 {
    width: 85%;
    padding: 20px;
    color: #ffffff;
    flex-wrap: nowrap;
    text-align:left;
    margin: 0 auto;
    background-color: rgba(1, 0, 0, 0.572);
    border-radius: 20px;
   }
    #dome {
      font-size: 50px;
      /* height: 150px; */
      float: center;
     right: 100px ;
     position: relative;
}

   .welcomelogo {
    width: 200px;
    height: 200px;
    /* background-color: white; */
    padding-left: 140px;
   }

/* contact stuff */
.form { padding-left: 30px;
    width:60%;
    height: auto;
    background-color:  #FFC667;  
    padding: 25px;
    margin: 0 auto;
    top: -400px;
    /* bottom: 2px;  */
    /* left: -50px; */
    position: relative;
    /* border-radius: 20px; */
    
    
   }

   .contact {
    justify-content: center;
    left: -8px;
    /* float: left; */
    padding: 20px;
    color: rgb(5, 5, 5);
    font-size: 40px;
    position: relative;
    width: 400px;
    height: 200px;
    /* top: 140px; */
    /* background-color: grey;  */
   }

   .c {
    background-color: #FFC667; 
    width: 500px;
    height: 530px;
    position: relative;
    float: center;
    border-style: solid;
    /* bottom: 400px; */
   }
   #c{
    font-size: 60px;
    position: relative;
    float: center;
    /* right: 900px; */
   }

   #contactimg {
    width: 400%;
    height: 400px;
    position:relative;
    /* float: left;  */
    /* left: 350px; */
    /* bottom: 340px; */
    max-width: 500px;
    min-width: 40px;
    min-height: 40px;
    
   
   }
   .contactimg {
    
    position:relative;
    /* left: 800px; */
    float: right;
    bottom: 70px;
     /* background-color: aquamarine;   */
    padding: 80px;
    top: 70px;
    width: 100%;
    /* right: 100px; */
    max-height: 660%;
    overflow: hidden;
    
   }
   /* .imgcot {
    width: 450px;
    height: 300px ;
    background-color: #000000;
   } */

   .form {
    padding: 70px;
    margin-top: 10px;
    margin: 0 auto;
    bottom: 500px;
    overflow: scroll;
    float: center;
    
   }
  #us {
    float: center;
    padding-left: 60px;
    position: relative;
    bottom: 50px;
  }

  
  #cont-name  {
    width: 150px;
    height: 40px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
   }

   #cont-email {
    width: 300px;
    height: 40px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
   }

   #cont-message {
    width: 300px;
    height: 140px;
    color: #000000;
    background-color: #ffffff;
     border-radius: 10px;
     padding: 20px;
   }
.info   {
    padding-left: 40px;
    padding:40px ;
    width: 400px;
    height: 200px;
    position: relative;
    float: right;
    /* background-color: wheat; */
   
}

.info2 a {
    padding-left: 40px;
    padding:40px ;
    width: 400px;
    position: relative;
    padding-bottom: 200px;
    justify-content: space-between;
    height: 200px;
    text-decoration: none;
    color: #ffffff;
    float: center;
    /* background-color: wheat; */
   
}

.rights{
    float: center;
}

#content {
    position: relative;
    min-height: 1000px; 
}
.contact {
    padding-bottom: 2.5rem;

}

/* piano page */
.top {
    width: auto;
    height: 1000px;
    background-color:rgb(115, 187, 115);
 float: center;
}
/* p.header{ 
    width:100%;
    height: 800px;
    position: relative;
    background-color: #0171d3;
   
} */
#p-text {
    width: 48%;
    font-size: 32px;
    left: 100px;
top: 170px;
position: relative;
float: center;
margin: 0 auto;
/* background-color: #888888; */

}

/* keys position */
#scale {
    width: 100%;
    height:400px;
     /* background-color: #888888;  */
    padding: 80px;
    position: relative;
    left: 200px;
    top: 460px;
    float: center;
    min-width: 200px;
    min-height: 2000px;
    justify-content: space-between;
    
}
#play{
    overflow: auto;
    width: 100%;
    /* height: 100%; */
    /* max-width: 25em; */
     height: 400px; 
    min-height: 40px;
    min-width: 50%;
    justify-content: space-between;
    /* background-color: #016dcb; */
}

#flat {
    position: relative;
    /* background-color: #000000;  */
    width: 100%;
    height:150px;
    left: -7px;
    bottom: 410px; 
    overflow: scroll;
    z-index: 999;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.forms{
    height: 100%px;
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 300px;
     /* top: 100px;  */
    align-items: center;
    justify-content: center;
    background-color:rgb(115, 187, 115);
    /* column-gap: 30px; */
    float: center;
overflow: scroll;

}
.extra {
    width: 100%;
    height: 400px;
    background-color:rgb(21, 29, 21);
top:400px;
}
.form2{
    top: 450px ;
    position: absolute;
    max-width: 430px;
    width: 100%;
    float: center;
    padding: 30px;
    border-radius: 6px;
    background: #FFFF;
    /* background-color: #0171d3; */
}
.form.login{
    position: relative;
    float: center;
    left: 200px;
   padding-top: 300px;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
    position: relative;
    float: left;
    /* right: 400px; */
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
    width: 600px;
    position: relative;
    float: left;
    right: 174px;
   padding-top: 300px;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
.header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: rgb(115, 187, 115);
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: rgb(115, 187, 115);
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}

#prices {
    width: 100%;
    height: 330;
    position: relative;
    /* padding-top: 40px; */
    padding-bottom: 70px;
    overflow: scroll;
    top: 250px;
    float: center;
    bottom: 260px;  
    padding: 80px;
    /* background-color: #016dcb;  */
    margin: 0 auto;
    justify-content:space-between;
}

.prices {
    
    width: 100%;
    height: 900px;
    bottom: 380px;
    position: relative;
    padding:40px;
 

}
#pricing-plan  {
    top: 100px; 
  width: 300px;
  position: relative;
  border-radius: 25px;
   /* box-shadow: grey;  */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
overflow:visible;
font-size: 16px;
float: center;
left: 20px;
line-height: 1.5;
height: 400px;
color: #000000; 
margin: 15px;
padding: 25px;
}

.pricing-plan-header{
    top:600px;
    line-height: 1.5;
    border-radius: 25px;
    background-color: #ffffff;
    border-style: solid;
    border-color: rgb(115, 187, 115);
    color:#000000;
    position: relative;
    width: 300px;
    height: 100% auto;
    justify-items: baseline;
}

.pricing-plan-title, .pricing-plan-summary{
    margin: 0;
    padding: 25px;
    background-color:none;
    /* color:white; */
}
/*  */
.pricing-plan-title{
    font-weight: 400;
    font-size: larger;
    
}

.pricing-plan-summary{
    max-height: 20px;
    background-color: rgb(125, 129, 125);
    bottom: 30px;
    position: relative;
}

.pricing-plan-description
{ height: 400px;
    position: relative;
    bottom: 40px;
    font-weight: 400;
    font-size:larger;
   padding: 25px;
   justify-content:space-around;
   overflow: visible;
}
.pricing-plan-list{
    padding: 0;
    margin: 0;
}

.pricing-plan-feature {
    list-style: none;
    margin: 0;
    padding: 25px;
    position: relative;
    font-size: 90%;
}

#pricing-plan__1   {
  color: #000000;
   float: left;
   bottom: 4px;
position: relative;
  
    /* background-color: pink; */
}

#pricing-plan__2   {
    width: 340px;
    float: left;
    left: 30px;
    bottom: 10px;
    padding: 10px;
    position: relative;
   
   /* background-color: green; */
}

#pricing-plan__3   {
    width: 300px;
    float: left ;
    left: 34px;
    height: 200px;
    position: relative;
    justify-content: space-between;
    /* background-color: #232836; */
}
.pricing-plan-feature:not(:last-child){

}

.lessonsint {
    font-size: 40px;
    color: #000000;
    position: relative;
    padding-top: 30px;
    padding: 20px;
    left: 20px;
    min-width: 40px;
    float: center;
}

.lessons {
    position: relative;
    /* padding-top: 480px; */
    padding: 20px;
    width: 100%;
    border-radius: 20px;
   top: 200px;
    background-color: #ffffff;
    float: center;
}

.about {
    position: relative;
    top: 130px;
    width: 100%;
    height: 840px;
    border-radius: 20px;
    background-color:  rgb(115, 187, 115);
}
.frame {
    position: relative;
    padding: 60px;
    bottom: 90px;
    float: center;
    /* right: 330; */
    background-color: #ffffff; 
    min-width: 60px;
    overflow:visible;
}
#hed{
    position: relative;
    bottom: 600px;
   font-size: 48px;
/*   float:center;
  width: 550px;
    height: 150px;
    padding: 20px;
    color: white;
    font-size: 48px;
    flex-wrap: nowrap;
    text-align:left;
    margin: 0 auto;
    background-color: rgba(1, 0, 0, 0.429); 
    border-radius: 10px; */
}
.int {
    font-size: 25px;
    color: #000000
}
.li {
    color: #000000;
    padding-left: 25px;
}
 .sept {
    background-color: rgb(115, 187, 115);
    max-width: 400px;
    min-width: 40px;
    /* overflow: hidden; */
    height: 300px; 
    color: #000000;
    /* flex-wrap: wrap ; */
    padding: 20px;
    float: right;
    position: relative;
    width: 30%;
    /* bottom: 400px; */
    right: 30px;


 }