.account{
    width: 1200px;
    display: flex;

}
#login{
    position: relative;
    float: left;
    left: 5%;
   padding-top: 300px;
   bottom: 90PX;
   background-color: #ecc6ea;
   border: 4px solid #d38cd0;
    width: 300px;
    height: 350px;
    border-radius: 25px;
    top: 15px;
    padding: 45px;
    margin-top: 120px;
    margin-bottom: 180px;
}
 

   

 #sign-up{
    // bottom: 90PX;
    background-color: #ecc6ea;
    border: 4px solid #d38cd0;
    width: 300px;
    height: 600px;
    border-radius: 25px;
    margin-bottom: 40px;
    top: 10px;
    padding: 45px;
    position: relative;
    float: left;
    left: 20%;
  margin-top: 20px;
 }  


.form{
    font-family: Segoe_UI;
}

input{
    height: 30px;
background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    color: black;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    border: none;
  border-bottom: 2px solid rgb(233, 224, 224);
}
::-webkit-input-placeholder { 
    color: black;
}

// #sign-up{
//     position: relative;
//     float: center;
//     left: 200px;
//    padding-top: 300px;
//     opacity: 0;
//     pointer-events: none;
//     position: relative;
//     float: left;
//     /* right: 400px; */
// }
//  #signup :active {
//     opacity: 1;
//     pointer-events: auto;
//     width: 600px;
//     position: relative;
//     float: left;
//     right: 174px;
//    padding-top: 300px;
// }
// .forms.show-signup .form.login{
//     opacity: 0;
//     pointer-events: none;
// }
// button
#submit{
background:#FFFFFF 0% 0% no-repeat padding-box;

border: 1px solid  #d38cd0;
opacity: 1;
color: #d38cd0;
position: relative;
top: 10px;
font-family: Segoe_UI;
width:170px;
height: 45px;
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 260px;
   
}

.login{
    position: relative;
    left: -250px;
}
.signup{
    position: relative;
    left: -250px;
}
    
.logTitle{
    text-align: left;
font: normal normal normal 26px/31px Segoe_UI;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

@media all and (max-width: 760px) {
   .account {
        display: inline-block;
        padding-right: 40px;
   } 
   #sign-up {
        left: 220px;
   }
}