footer { 
    height: 92px;
    background-color: #d38cd0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    #footText {
        color: #fff;
        font-size: 16px;
        font-family: Segoe_UI;
    }

    #footLinks {

        a {
            color: #fff;
            font-size: 16px;
            margin-right: 38px;
            text-decoration: none;
            font-family: Segoe_UI;
        }
    }
}

@media all and  (max-width: 200px){
    footer {
        flex-direction: column;
        height: 100px;
       
        #footText {
            margin-top: 20px;
        }

        #footLinks {
            margin-bottom: 20px;
        }
    }
}